QPushButton{
    color : black ;
    background-color : #FAFAFA ;
    font-size : 16px ;
    border : 1px solid rgb(20, 20, 20) ;
    border-radius : 2px ;
    font-weight : 400 ;
    padding : 2px ;
    }

QPushButton:hover{
    background-color : rgb(40, 40, 40);
    color : white ;
    font-size : 16px ;
    font-weight : 400 ;
    border : 1px solid white ;
    }