QPushButton {
    border : none ;
    background-color : rgb(30, 30, 30) ;
}

QPushButton:checked {
    padding : 1.2px ;
    border : 1px solid rgba(100, 0, 0, 0.6);
    background-color : white;
}

QFrame {
    border : 1px solid rgb(40, 40, 40) ;
    background-color : rgb(30, 30, 30) ;
}