* {
    background-color : rgb(170, 170, 170);
    color : black ;
    font-size : 17px ;
    font-weight : 550 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
}

QComboBox, QSpinBox{
    background-color : rgb(210, 210, 210) ;
    border : 1px solid rgb(240, 240, 240) ;
    border-radius : 0px ;
    font-size : 15px ;
    font-weight : 500 ;
    color: rgb(5, 5, 5);
    padding-left : 10px ;
}

QComboBox::drop-down {
    border-top : 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    border-bottom : 1px solid rgb(200, 200, 200);
    background-color : rgb(200, 200, 200);
}

QComboBox::down-arrow {
    image : url("API/data/downward-arrow-black.ico") ;
    width : 13px ;
    height : 13px ;
}

QSpinBox::down-button, QSpinBox::up-button {
    border : none ;
    background-color : rgb(40, 40, 40);
}

QSpinBox::down-arrow {
    image : url("API/data/downward-arrow.ico") ;
    width : 9px ;
    height : 9px ;
    border : none ;
}

QSpinBox::up-arrow {
    image : url("API/data/upward-arrow.ico") ;
    width : 9px ;
    height : 9px ;
    border : none ;
}

QComboBox QListView {
    outline : none ;
    background-color : rgb(190, 190, 190) ;
    border-radius : 3px ;
    font-size : 13px ;
    border : 1px solid rgb(240, 240, 240) ;
}


QComboBox QListView::item:selected{
    background-color : rgb(170, 170, 170) ;
}

QListWidget{
    border : 1px solid rgb(230, 230, 230);
    background-color : rgb(210, 210, 210) ;
    border-radius : 1px ;
    font-size : 14px  ;
    font-weight : 450 ;
    color : rgb(10, 10, 10) ;
    text-align : center ;
}

QListWidget::item {
    border-bottom : 1px solid rgb(190, 190, 190) ;
    padding-right : 2px ;
}

QListWidget::item:selected {
    background-color :  rgb(45, 45, 45) ;
    border : none ;
    color : rgb(220, 220, 220) ;
}

QPushButton:checked {
    border : 1px solid rgba(100, 0, 0, 0.6);
    color: black;
    border-radius : 10px ;
    background-color : white;
}

QLabel {
    font-size : 14px ;
    font-weight : 300 ;
    color : rgb(5, 5, 5) ;
}
